<ion-content>
  <div id="logo-div">
    <ion-text color="medium">
      <img src="../../../assets/icon/favicon.png">
      <h3 >iFinanças</h3>
    </ion-text>
  </div>
    <ion-item>
      <ion-icon name="mail" color="if" slot="start">
        <ion-input [(ngModel)]="email" type="email" placeholder="E-mail" autofocus="true">
        </ion-input>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start">
        <ion-input [(ngModel)]="password" type="password" placeholder="senha" >
        </ion-input>
      </ion-icon>
    </ion-item><br/><br/>

    <ion-button (click)="validate" expand="block" color="if" fill="clear">Enviar</ion-button>
  



</ion-content>
